<%= render 'shared_pages/page_title', title: "Chef #{@chef.chefname}'s profile" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @chef, size: 150 %>
  </div>
</div>
<% if @chef.recipes.count != 0 %>
  <h4 align="center"><%= @chef.chefname %>'s recipes</h4>
  <h4 align="center"><%= @chef.email %> </h4>
  <h4 align="center">Chef starts:  <% @chef.chef_stars.to_i.times do  %><i class="fa fa-star"></i><% end %></h4>
        
  <div align="center">
    <%= will_paginate @chef_recipes %>
  </div>
  <%= render 'recipes/recipe', obj: @chef_recipes %>
  <div align="center">
    <%= will_paginate @chef_recipes %>
  </div>
<% else %>
  <h4 align="center">No recipes yet!</h4>
<% end %>




