<!DOCTYPE html>
<html>
  <head>
    <title>Recip</title>
    <meta name="viewport" content= "width=device-width, initial-scale=1"> 
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <%= render 'layouts/messages' %>
    
    <% if current_page?(root_path) %>
  <%= render 'layouts/video' %>
<% end %>
    
    
    
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
